{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('/static/assets/cover.jpg'); background-size: cover; background-position: center;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-bold text-white-100 mb-0">Welcome To Pixel Palace...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
<p align="justify">
<b>Welcome to Pixel Palace!</b>
<br/>

At Pixel Palace, we're passionate about gaming. Whether you're a seasoned gamer or just starting your gaming journey, we're here to provide you with an unparalleled gaming experience.
<br/><br/>
<b>Our Mission</b>
<br/>
Our mission is simple: to bring the joy of gaming to everyone, everywhere. We believe that gaming should be accessible to all, which is why we offer a diverse selection of old and new games at the best prices. From classic retro titles to the latest releases, we've got something for every gamer.
<br/><br/>
<b>Why Choose Us?</b>
</br>
</br>
<b>Wide Selection:</b> We pride ourselves on offering a wide range of games, catering to all tastes and preferences. Whether you're into action, adventure, strategy, or simulation games, you'll find exactly what you're looking for in our extensive collection.
<br/>
<b>Best Prices:</b> We understand that gaming can be an expensive hobby, which is why we strive to offer the best prices on all our games. With competitive pricing and regular discounts and promotions, you can enjoy your favorite games without breaking the bank.
<br/>
<b>Quality Assurance:</b> When you shop with us, you can trust that you're getting quality products every time. We carefully inspect and test all our games to ensure they meet our high standards of excellence, so you can game with confidence.
<br/>
<b>Exceptional Customer Service:</b> Your satisfaction is our top priority. Our dedicated team of gaming enthusiasts is here to assist you every step of the way, from helping you find the perfect game to resolving any issues you may encounter.
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}